body {
    background-color: #2c2c2c;
    margin: 0px;
    padding: 0px;
    color: #1a1a1a;
}

body, header, html {
	width: 100%;
	height: 100%; 
}

p, h1, h2, h3, h4, h5, h6, label, span {
    color: white;
}

hr {
    background-color: white;
}

/* ================= splash image + contenue ================ */

.titleBackground {
    background: url(../img/splashImg.jpeg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1) inset ;
}

#titleSVG {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

path {
	stroke: rgb(0, 0, 0);
	fill: rgb(0, 0, 0);
	stroke-dasharray: 2200;
	opacity: 1;
	animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2200;
	}
	30% {
		opacity: 10;
		fill: none;
		stroke-dashoffset: 2200;
	}
	90% {
		fill: rgba(0, 0, 0, 0);
	}
	100% {
		opacity: 10;
		fill: rgb(0, 0, 0);
		stroke-dashoffset: none;
	}
}

/* ================= map + coté ================ */

#mapTemplate{
    margin-top: 5%;
}

.titleContainer{
    text-align: center;
    margin-bottom: 5%;
}

.list-group {
    height: 65vh;
}

.list-group button {
    background-color: #2c2c2c;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1) inset;
}

.map {
    height: 80vh;
}

.infoWindow {
    color: #2c2c2c;
    text-align: center;
}

.description {
    height: 80vh;
}

form button {
    width: 100%;
}

.card {
    background-color: #2c2c2c;
    height: 100%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1) inset ;
}

.card-img-top{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

/* ================= modal ================ */

.modal-content {
    background-color: #2c2c2c;
}

#btnFormAddrestaurant {
    margin-top: 3%;
}

#btnFormAddComment {
    margin-top: 3%;
}


/* ================= formaulaire restaurant ================ */
#restaurantForm {
    margin-top: 5%;
    background: url(../img/fondForm.jpeg) no-repeat center center fixed;
    height: auto;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 3%;
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1) inset ;
}
#title-form {
    margin: 1%;
    text-align: center;
}

#restaurantForm > [class=row] {
    margin: 2%;
}

#valForm {
    width: 100%;
}

/* ================= Top ================ */
#top {
    margin-top: 5%;
}

.top {
    height: 250px;
    position: relative;
    width: 100%;
    background-size: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 1) inset ;
    margin-top: 5%;
    margin-bottom: 5%;
}



/* ================= footer ================ */
footer {
	width: 100%;
	background-color: #1a1a1a;
	padding: 2%;
    color: white;
    margin-top: 5%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1) inset;
}

footer .fab {
	padding: 2%;
	font-size: 250%;
	color: white;
}

footer h4 {
margin-bottom: 10%;
}

footer img {
    height: 150px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}
